<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hieunt.smart.android.demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:requestLegacyExternalStorage="true"
        >
        <activity
            android:name="com.hieunt.smart.android.demo.camera.AlarmDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hieunt.smart.android.demo.camera.CameraCloudStorageActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.hieunt.smart.android.demo.camera.CameraCloudVideoActivity" />
        <activity
            android:name="com.hieunt.smart.android.demo.camera.CameraPanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hieunt.smart.android.demo.camera.CameraPlaybackActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.hieunt.smart.android.demo.camera.CameraSettingActivity" />
        <activity android:name="com.hieunt.smart.android.demo.camera.CameraInfoActivity" />
        <activity android:name="com.hieunt.smart.android.demo.camera.CameraDoorBellActivity"/>
    </application>

</manifest>